@font-face {
    font-family: 'GothamPro';
    src: url('GothamPro-Light.ttf') format('truetype')
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.centered-text {
    background-color: black;
    color: white;
    padding: 20px;
    position: absolute;
    font-family: 'GothamPro';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

button:hover {
    background-color: #253D3D;
}

button {
    border-radius: 10px; 
    font-family: 'GothamPro';
}

html {
    background: linear-gradient(to right, black, #253D3D);
}

.logo {
    color: white;
    font-family: 'GothamPro';
}

.name {
    font-family: 'GothamPro';
    color: white;
    position: fixed;
    top: 0;
    right: 10px;
}